@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<EntityLayer.Entities.Category>

<link href="~/css/pagedlist.css" rel="stylesheet" />

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="template-demo">
                    <a asp-controller="Admin" asp-action="CategoryAdd" ><button class="btn btn-info btn-lg btn-block" type="submit">Kategori ekle</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">KATEGORİLER</h4>
                <br />
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    KATEGORİ ADI
                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (ViewData["NotCategories"] != null)
                                {
                                    <div><p class="=text-danger">Henüz hiç kategori yok</p></div>
                                }
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="py-1">
                                       @item.CategoryName
                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                        <a asp-controller="Admin" asp-action="CategoryEdit" asp-route-id="@item.CategoryID"><button class="btn btn-info">Düzenle</button></a>
                                    </td>
                                    <td>

                                        <a asp-controller="Admin" asp-action="CategoryDelete" asp-route-id="@item.CategoryID"><button class="btn btn-danger">Sil</button></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="pagination-container text-center" >
                    @Html.PagedListPager(
                    (IPagedList)Model,
                    page => Url.Action("Category", new { page }),
                    new PagedListRenderOptions() { DisplayLinkToFirstPage = PagedListDisplayMode.Always })
                </div>
            </div>
        </div>
    </div>
</div>