@model EditDescriptionviewModel
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-action="EditDescription" method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="exampleInputName1" asp-for="Description">Ürün Açıklması</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" asp-for="Description" placeholder="@ViewBag.Description" value="@ViewBag.Description">@ViewBag.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>                
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <br />
                @*<button asp-action="List" asp-route-id="@Model.UserID" class="btn btn-primary mr-2">İptal</button>*@
                <div>
                    @{
                        if (ViewData["Edit"] != null)
                        {
                            <div><p class="text-danger">Ürün başarılı bir şekilde düzenlendi.</p></div>

                        }
                    

                    }
                </div>
            </form>
        </div>
    </div>
</div>

