@model CreateListViewModel

<div class="br-wrapper">

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-action="ListPost" method="post" autocomplete="off">            
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="exampleInputName1" asp-for="ListName">Liste Ekleme Formu</label>
                    <input type="text" class="form-control" asp-for="ListName" placeholder="Liste adı">
                    <span asp-validation-for="ListName" class="text-danger"></span>              
                </div>
                <button type="submit"  class="btn btn-primary mr-2">Kaydet</button>
                <br />
                    @*<button asp-action="List" asp-route-id="@Model.UserID" class="btn btn-primary mr-2">İptal</button>*@
                    <div>
                        @{
                            if (ViewData["ListPost"] != null)
                            {
                                <div class="text-danger">Listeniz başarılı bir şekilde oluşturuldu.</div>

                            }
                            else if (ViewData["NotListPost"] != null)
                            {

                                <div class="text-danger">Aynı isimde alışveriş listeniz mevcut.</div>
                            }

                        }
                    </div>
            </form>
        </div>
    </div>
</div>
</div>
