<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      @*  <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="User" asp-route-id="(int)@TempData["ui"]">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Listelerim</span>
            </a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Admin Paneli</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-controller="Admin" asp-action="Product"> Ürünler </a></li>
                    <li class="nav-item"> <a class="nav-link" asp-controller="Admin" asp-action="Category"> Kategoriler </a></li>
                </ul>
            </div>
        </li>      
    </ul>
</nav>